
section{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    
}
img{
    width: 200px;
    height:210px;
    border: 4px solid green;
    border-radius: 50%;

}
body{
    background:linear-gradient(0deg,rgba(255, 0, 221, 0.847),rgba(250, 182, 114, 0.704)) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundcolor{
    background-color:burlywood;
    font-size: 1.2rem;

}
a{
    color: white;
text-decoration: none;

}
.backgroundcolor:hover{
    background-color: transparent;
    border: 2px solid;
    background-color:brown ;
    color:black;
    transition: 2s ease-in;
}


.backgroundcolor2{
    background-color: rgb(82, 128, 251);

}
a{
    color: white;
text-decoration: none;

}
.backgroundcolor2:hover{
    background-color: transparent;
    border: 2px solid;
    background-color: navy ;
    transition: 2s ease-in;
}
    

.backgroundcolor3{
    background-color: rgb(82, 128, 251);

}
a{
    color: white;
text-decoration: none;

}
.backgroundcolor3:hover{
    background-color: transparent;
    border: 2px solid;
    background-color: navy ;
    transition: 2s ease-in;
}
    

.backgroundcolor4{
    background-color: rgb(82, 128, 251);

}
a{
    color: white;
text-decoration: none;

}
.backgroundcolor4:hover{
    background-color: transparent;
    border: 2px solid;
    background-color: navy ;
    transition: 2s ease-in;
}
.subhead{
    font-size: 13px;
}